.bottom-banner {
  @include flexCenter(column);
  text-align: center;

  picture {
    
    img {
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
    }
  }
  
  h2 {
    margin-block: 2.5rem 2rem;

    span {
      color: $orange;
    }
  }

  p {
    opacity: 0.5;
  }
}