.bottom-banner {
  @include flexCenter(column);
  width: 100%;
  text-align: center;
  align-self: center;

  picture {
    display: flex;
    
    img {
      border-radius: 8px;
      object-fit: cover;
      width: 100%;
    }
  }

  &__words {
    max-width: 573px;
  }
  
  h2 {
    margin-block: 2.5rem 2rem;

    span {
      color: $orange;
    }
  }

  p {
    opacity: 0.5;
  }

  @media (min-width: 1100px) {
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;

    &__words {
      max-width: 445px;

      h2 {
        margin-block: 0 2rem;
      }
    }
  }
}