footer {
  @include flexCenter;
  background-color: $black;
  color: $pureWhite;
  text-align: center;
  
  .wrapper {
    position: relative;
    padding: 3.25rem 1.5rem 2rem 1.5rem;

    &::before {
      content: "";
      background-color: $orange;
      height: 4px;
      width: 101px;
      position: absolute;
      top: 0;
      margin-left: 0;
      margin-right: 0;
      transform: translateX(-50%)
    }
  }


  .top {
    @include flexCenter(column);
    gap: 3rem;
    margin-bottom: 3rem;
    
    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      
      a {
        transition-duration: 200ms;
  
        &:hover, &:focus {
          color: $orange;
        }
      }
    }

  }
  
  .bottom {
    @include flexCenter(column);
    gap: 3rem;

    &__blurb {
      opacity: 0.5;
    }

    &__copywrite {
      opacity: 0.5;
      font-weight: 700;
    }

    ul {
      display: flex;
      gap: 1rem;
      align-items: center;

      a {
        svg {
          display: block;
          fill: $pureWhite;
          transition-duration: 200ms;
        }
  
        &:hover svg, &:focus svg {
          fill: $orange;
        }
      }
    }
  }

  @media (min-width: 768px) {
    text-align: left;
    padding-inline: 2.5rem;
    
    .wrapper {
      padding: 3.75rem 0 2.85rem 0;

      &::before {
        transform: none;
      }
    }

    .top {
      align-items: flex-start;
      margin-bottom: 2rem;
      gap: 2rem;

      ul {
        flex-direction: row;
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5rem;

      &__blurb {
        grid-column: span 2;
      }

      ul {
        justify-content: flex-end;
      }
    }
  }

  @media (min-width: 1100px) {
    .wrapper {
      padding: 4.7rem 0 3rem 0;
    }

    .top {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 2.25rem;
    }

    .bottom {
      gap: 3.5rem;

      &__blurb {
        max-width: 540px;
        grid-row: 1;
        grid-column: 1;
      }

      ul {
        grid-row: 1;
        grid-column: 2;
        align-self: end;
      }
    }
  }
}