.feature-secondary {
  position: relative;
  
  picture {
    display: flex;
    
    img {
      border-radius: $borderRadius;
      object-fit: cover;
      width: 100%;
      filter: brightness(0.9);
    }
  }

  &__words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    position: absolute;
    
    margin-block: auto;
    top: 0;
    bottom: 0;
    margin-left: 7.3%;

    .button {
      width: fit-content;
    }
  }

  @media (min-width: 768px) {
    &__words {
      margin-left: 9%;
    }
  }
  
  @media (min-width: 768px) {
    &__words {
      margin-left: 8.6%;
    }
  }
}