.checkout {
  margin-top: 91px;

  .top {
    padding-top: 1rem;

    .wrapper {
      gap: 2rem
    }
  }

  .cart {
    position: static;
    z-index: 0;
    width: 100%;
    max-width: none;
    margin: 0;
  }
}