@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

p {
  font-weight: 500;
  font-size: pixelsToRems(15);
  line-height: pixelsToRems(25);
}

.feature-header {
  font-weight: 700;
  font-size: pixelsToRems(36);
  line-height: pixelsToRems(40);
  letter-spacing: pixelsToRems(1.29);

  @media (min-width: 768px) {
    font-size: pixelsToRems(56);
    line-height: pixelsToRems(58);
    letter-spacing: pixelsToRems(2);
  }
}

.category-page-header, .product-header, .blurb-header {
  font-weight: 700;
  font-size: pixelsToRems(28);
  letter-spacing: pixelsToRems(1);

  @media (min-width: 768px) {
    font-size: pixelsToRems(40);
    letter-spacing: pixelsToRems(1.43);
    line-height: pixelsToRems(44);
  }
}

.category-card-header {
  font-weight: 700;
  font-size: pixelsToRems(15);
  letter-spacing: pixelsToRems(1.07);

  @media (min-width: 768px) {
    font-size: pixelsToRems(18);
    letter-spacing: pixelsToRems(1.29);
  }
}

.product-card-header {
  font-style: 700;
  font-size: pixelsToRems(24);
  letter-spacing: pixelsToRems(1.71);

  @media (min-width: 768px) {
    font-size: pixelsToRems(24);
  }
}

.home-product-header {
  font-weight: 700;
  font-size: pixelsToRems(28);
  letter-spacing: (2);
}

.product-info {
  font-weight: 700;
  font-size: pixelsToRems(24);
  letter-spacing: pixelsToRems(0.86);
  line-height: pixelsToRems(36);

  @media (min-width: 768px) {
    font-size: pixelsToRems(32);
    letter-spacing: pixelsToRems(1.14);
  }
}

.price {
  font-weight: 700;
  font-size: pixelsToRems(18);
  letter-spacing: pixelsToRems(1.29);
}

.nav-item {
  font-weight: 700;
  font-size: pixelsToRems(13);
  line-height: pixelsToRems(25);
  letter-spacing: pixelsToRems(2);
}

.button {
  font-weight: 700;
  font-size: pixelsToRems(56);
  letter-spacing: pixelsToRems(1);
}

.shop {
  font-weight: 700;
  font-size: pixelsToRems(13);
  letter-spacing: pixelsToRems(1);
}

.new-product-label {
  font-weight: 400;
  font-size: pixelsToRems(14);
  letter-spacing: pixelsToRems(10);
}