@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

body {
  font-family: 'Manrope', sans-serif;
}

p {
  @include font(500, 15, 25, normal);
}

.feature-header {
  @include font(700, 36, 40, 1.29);

  @media (min-width: 768px) {
    @include font(700, 56, 58, 2);
  }
}

.category-header, .product-header, .blurb-header {
  @include font(700, 28, normal, 1);

  @media (min-width: 768px) {
    @include font(700, 40, 44, 1.43)
  }
}

.category-card-header {
  @include font(700, 15, normal, 1.07);

  @media (min-width: 768px) {
    font-size: pixelsToRems(18);
    letter-spacing: pixelsToRems(1.29);
  }
}

.product-card-header {
  @include font(700, 24, normal, 1.71);

  @media (min-width: 768px) {
    font-size: pixelsToRems(24);
  }
}

.home-product-header {
  @include font(700, 28, normal, 2);
}

.product-info {
  @include font(700, 24, 36, 0.86);

  @media (min-width: 768px) {
    font-size: pixelsToRems(32);
    letter-spacing: pixelsToRems(1.14);
  }
}

.price {
  @include font(700, 18, normal, 1.29);
}

.nav-item {
  @include font(700, 13, 25, 2);
}

.button {
  @include font(700, 13, normal, 1);
}

.back-button {
  @include font(500, 15, 25, 0);
}

.shop {
  @include font(700, 13, normal, 1);
}

.new-product-label {
  @include font(400, 14, normal, 10);
}

.checkout-header {
  @include font(700, 28, normal, 1);

  @media (min-width: 768px) {
    @include font(700, 32, 36, 1.14);
  }
}

.checkout-subheader {
  @include font(700, 13, 25, 0.93);
}

.checkout-field-header {
  @include font(700, 12, normal, -0.21);
}

.checkout-field-placeholder {
  @include font(700, 14, normal, -0.25);
}