@function pixelsToRems($pixels) {
  @return calc($pixels / 16) * 1rem;
}

@mixin flexCenter($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin font($weight, $size, $height, $spacing) {
  font-weight: $weight;
  font-size: pixelsToRems($size);
  
  @if $height == normal {
    line-height: normal;
  } @else {
    line-height: pixelsToRems($height);
  }
  
  @if $spacing == normal {
    letter-spacing: normal;
  } @else {
    letter-spacing: pixelsToRems($spacing);
  }
}

.wrapper {
  // width: min(100%, 1100px);
  width: 100%;
  max-width: 1100px;
}