.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  background-color: $pureWhite;
  border-radius: $borderRadius;

  h2 {
    color: $orange;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;

    ul {
      display: grid;
      gap: 1.5rem;

      li {
        display: grid;
        gap: 0.5rem;
        
        input {
          padding: 1rem 1.5rem;
          border-radius: $borderRadius;
          border: 1px solid #CFCFCF;
          @extend .checkout-field-placeholder;
          color: $pureBlack;
    
          &::placeholder {
            opacity: 0.5;
          }
        }
      }
    }

    fieldset {
      border: none;
      display: grid;
      gap: 1rem;
      margin-bottom: 2rem;

      legend {
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1.5rem;
        border: 1px solid #CFCFCF;
        border-radius: $borderRadius;

        label {
          width: 100%;
        }

        input:checked {
          border-color: $orange;
        }
      }
    }
  }

  &__cash-message {
    @include flexCenter(column);
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
    
    p {
      opacity: 0.5;
    }
  }

  @media (min-width: 768px) {
    gap: 2.5rem;

    section {
      ul {
        gap: 1rem;
      }
    }
    
    ul, fieldset {
      grid-template-columns: 1fr 1fr;
    }

    &__cash-message {
      flex-direction: row;
      text-align: left;
      gap: 2rem;
    }

    &__shipping-info {
      .address {
        grid-column: span 2;
      }
    }

    &__payment-details {
      display: grid;
      
      legend {
        display: contents;
        grid-row: 1;
        grid-column: 1;
        height: 100%;
      }
      
      div {
        grid-column: 2;
      }
    }
  }

  // @media (min-width: 1100px) {
  //   flex-direction: row;
  // }
}