.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  background-color: $pureWhite;

  h2 {
    color: $orange;
    margin-bottom: 1rem;
  }

  section {
    display: flex;
    flex-direction: column;

    ul {
      display: grid;
      gap: 1.5rem;

      li {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        
        input {
          padding: 1rem 1.5rem;
          border-radius: $borderRadius;
          border: 1px solid #CFCFCF;
          @extend .checkout-field-placeholder;
          color: $pureBlack;
    
          &::placeholder {
            opacity: 0.5;
          }
        }
      }
    }

    fieldset {
      border: none;
      display: grid;
      gap: 1rem;
      margin-bottom: 2rem;

      legend {
        margin-bottom: 1rem;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1.5rem;
        border: 1px solid #CFCFCF;
        border-radius: $borderRadius;

        label {
          width: 100%;
        }

        input:checked {
          border-color: $orange;
        }
      }
    }
  }

  &__cash-message {
    @include flexCenter(column);
    text-align: center;
    gap: 1rem;
    margin-top: 2rem;
  }
}